
<nav class="home-nav">
  <div class="nav-links-container">
    <div id="diamond-shield-nav">
    </div>

    <ul class="navigation">
      <li><a href="/workout_tracker/home">GymRat</a></li>
      <li><a href="/workout_tracker/home#about">About</a></li>
      <li><a href="/workout_tracker/home#features">Features</a></li>
      <li><a href="/workout_tracker/workouts">My Account</a></li>
      <% if (!logged) { %>
        <li><a href="/user/login">Log In</a></li>
      <% } %>

    </ul>
  </div>
</nav>

<br>
<br>
<br>
<br>
