
<nav class="home-nav">
  <ul class="navigation">
    <li><a href="/workout_tracker/home">
      GymRat
      <%# <img alt="Brand" src="...">%>
    </a></li>
    <li><a href="/workout_tracker/home#about">About</a></li>
    <li><a href="/workout_tracker/home#features">Features</a></li>
    <li><a href="/workout_tracker/workouts">My Account</a></li>
    <li><a href="/user/login">Log In</a></li>
  </ul>
</nav>

<br>
<br>
<br>
<br>
