<style type="text/css">
  body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;

    /*add this to static css file*/
    /*make it so that nav height stays the same!!!*/
    /*carousel?*/
  }
</style>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <ul class="nav navbar-nav">
    <li><a class="navbar-brand" href="/workout_tracker/home">
      MANKILLA
      <%# <img alt="Brand" src="...">%>
    </a></li>
    <li><a href="/workout_tracker/home#about">About</a></li>
    <li><a href="/workout_tracker/home#features">Features</a></li>
    <li><a href="/workout_tracker/workouts">My Account</a></li>
    <li><a href="/user/login">Log In</a></li>
  </ul>
</nav>

<br>
<br>
<br>
<br>
