<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/header %>

    <div class="container container-fluid">
      <div class="jumbotron jumbo">
        <h1><%= user[0].name %>'s Workouts</h1>
        <p>Hey, killer! Welcome to your space. Check out your past workouts below, and add new ones. All your posted workouts are added to the GymRat community page. We, the GymRat community, love to be an encouragement to one another in our fitness journeys. Click on GymRats to see other people's workouts and comment on them. Now go lift some heavy things and drink those protein shakes!</p>
        <br>
        <p>
          <a class="btn btn-primary btn-lg" href="/workout_tracker/new" role="button">Add Workout</a>

          <a class="btn btn-primary btn-lg" href="#" role="button">My PRs</a>

          <a class="btn btn-primary btn-lg" href="/workout_tracker/community" role="button">GymRats</a>

        </p>
      </div>

      <br>

      <div class="container container-fluid workouts">
        <% for (let i = userWorkouts.length-1; i >= 0; i--) { %>
          <a href = '/workout_tracker/workouts/<%= userWorkouts[i]._id %>'>
            <div class="thumbnail-container">
                <div id="diamond-shield">
                </div>
                <h3><%= userWorkouts[i].workout %> &nbsp;&nbsp;&nbsp;/</h3>
                <p><%= userWorkouts[i].date %></p>
            </div>
          </a>
        <% } %>

      </div>
    </div>
  </body>
</html>
