<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/header %>

    <div class="container container-fluid">
      <div class="jumbotron jumbo">
        <h1><small><%= user[0].name %>'s Workouts</small></h1>
        <br>
        <p>
          <a class="btn btn-primary btn-lg" href="/workout_tracker/new" role="button">Add Workout</a>

          <a class="btn btn-primary btn-lg" href="#" role="button">My PRs</a>

          <a class="btn btn-primary btn-lg" href="#" role="button">GymRats</a>

          <a class="btn btn-danger btn-lg" href="/user/logout" role="button">Log Out</a>

        </p>
      </div>

      <br>

      <div class="container container-fluid workouts">
        <% for (let i = userWorkouts.length-1; i >= 0; i--) { %>
        <div class="thumbnail-container">
          <a href = '/workout_tracker/workouts/<%= userWorkouts[i]._id %>'>
            <div class="thumbnail">
              <img src="https://i.imgur.com/i59633l.png?1" alt="workout link">
              <div class="caption">
                <h3><%= userWorkouts[i].workout %></h3>
                <p><%= userWorkouts[i].date %></p>
              </div>
            </div>
          </a>
        </div>
        <% } %>

      </div>
    </div>
  </body>
</html>
