<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/header %>
    
    Welcome, <%= username %>!
    <br>
    User's Workouts Go Here!
  </body>
</html>
