<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/header %>


    <table>
      <tr>
        <td>Exercise 1:
          <tr>
            <td>&nbsp;weight</td>
            <td>&nbsp;s1</td>
            <td>&nbsp;s2</td>
            <td>&nbsp;s3</td>
            <td>&nbsp;s4</td>
            <td>&nbsp;s5</td>
            <td>&nbsp;s6</td>
          </tr>
          <tr>
            <td>&nbsp;reps</td>
            <td>&nbsp;0</td>
            <td>&nbsp;0</td>
            <td>&nbsp;0</td>
            <td>&nbsp;0</td>
            <td>&nbsp;0</td>
            <td>&nbsp;0</td>
          </tr>
        </td>
      </tr>

      <tr>
        <td>Exercise 2:
          <tr>
            <td>&nbsp;weight</td>
            <td>&nbsp;s1</td>
            <td>&nbsp;s2</td>
            <td>&nbsp;s3</td>
            <td>&nbsp;s4</td>
            <td>&nbsp;s5</td>
            <td>&nbsp;s6</td>
          </tr>
          <tr>
            <td>&nbsp;reps</td>
            <td>&nbsp;0</td>
            <td>&nbsp;0</td>
            <td>&nbsp;0</td>
            <td>&nbsp;0</td>
            <td>&nbsp;0</td>
            <td>&nbsp;0</td>
          </tr>
        </td>
      </tr>

      <tr>
        <td>Exercise 3:
          <tr>
            <td>&nbsp;weight</td>
            <td>&nbsp;s1</td>
            <td>&nbsp;s2</td>
            <td>&nbsp;s3</td>
            <td>&nbsp;s4</td>
            <td>&nbsp;s5</td>
            <td>&nbsp;s6</td>
          </tr>
          <tr>
            <td>&nbsp;reps</td>
            <td>&nbsp;0</td>
            <td>&nbsp;0</td>
            <td>&nbsp;0</td>
            <td>&nbsp;0</td>
            <td>&nbsp;0</td>
            <td>&nbsp;0</td>
          </tr>
        </td>
      </tr>

      <tr>
        <td>Exercise 4:
          <tr>
            <td>&nbsp;weight</td>
            <td>&nbsp;s1</td>
            <td>&nbsp;s2</td>
            <td>&nbsp;s3</td>
            <td>&nbsp;s4</td>
            <td>&nbsp;s5</td>
            <td>&nbsp;s6</td>
          </tr>
          <tr>
            <td>&nbsp;reps</td>
            <td>&nbsp;0</td>
            <td>&nbsp;0</td>
            <td>&nbsp;0</td>
            <td>&nbsp;0</td>
            <td>&nbsp;0</td>
            <td>&nbsp;0</td>
          </tr>
        </td>
      </tr>

      <tr>
        <td>Exercise 5:
          <tr>
            <td>&nbsp;weight</td>
            <td>&nbsp;s1</td>
            <td>&nbsp;s2</td>
            <td>&nbsp;s3</td>
            <td>&nbsp;s4</td>
            <td>&nbsp;s5</td>
            <td>&nbsp;s6</td>
          </tr>
          <tr>
            <td>&nbsp;reps</td>
            <td>&nbsp;0</td>
            <td>&nbsp;0</td>
            <td>&nbsp;0</td>
            <td>&nbsp;0</td>
            <td>&nbsp;0</td>
            <td>&nbsp;0</td>
          </tr>
        </td>
      </tr>

      <tr>
        <td>Exercise 6:
          <tr>
            <td>&nbsp;weight</td>
            <td>&nbsp;s1</td>
            <td>&nbsp;s2</td>
            <td>&nbsp;s3</td>
            <td>&nbsp;s4</td>
            <td>&nbsp;s5</td>
            <td>&nbsp;s6</td>
          </tr>
          <tr>
            <td>&nbsp;reps</td>
            <td>&nbsp;0</td>
            <td>&nbsp;0</td>
            <td>&nbsp;0</td>
            <td>&nbsp;0</td>
            <td>&nbsp;0</td>
            <td>&nbsp;0</td>
          </tr>
        </td>
      </tr>

      <tr>
        <td>Exercise 7:
          <tr>
            <td>&nbsp;weight</td>
            <td>&nbsp;s1</td>
            <td>&nbsp;s2</td>
            <td>&nbsp;s3</td>
            <td>&nbsp;s4</td>
            <td>&nbsp;s5</td>
            <td>&nbsp;s6</td>
          </tr>
          <tr>
            <td>&nbsp;reps</td>
            <td>&nbsp;0</td>
            <td>&nbsp;0</td>
            <td>&nbsp;0</td>
            <td>&nbsp;0</td>
            <td>&nbsp;0</td>
            <td>&nbsp;0</td>
          </tr>
        </td>
      </tr>

      <tr>
        <td>Exercise 8:
          <tr>
            <td>&nbsp;weight</td>
            <td>&nbsp;s1</td>
            <td>&nbsp;s2</td>
            <td>&nbsp;s3</td>
            <td>&nbsp;s4</td>
            <td>&nbsp;s5</td>
            <td>&nbsp;s6</td>
          </tr>
          <tr>
            <td>&nbsp;reps</td>
            <td>&nbsp;0</td>
            <td>&nbsp;0</td>
            <td>&nbsp;0</td>
            <td>&nbsp;0</td>
            <td>&nbsp;0</td>
            <td>&nbsp;0</td>
          </tr>
        </td>
      </tr>
    </table>
  </body>
</html>
