/********************************************
            GLOBAL
*********************************************/

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  /*color: #5a5a5a;*/
  color: #9d9d9d;
  background: #222;
}

.jumbo {
  background: gray url('https://i.imgur.com/uejAjwk.png') repeat 0 0;
  animation: backgroundSlide 20s linear infinite;
}

@keyframes backgroundSlide {
  0% { background-position: 0 0; }
  100% { background-position: -400px 0; }
} /*infinite translating image */

/********************************************
                NAV
*********************************************/
.home-nav{
    background-color: #222;
    border-color: #080808;
    top: 0;
    border-width: 0 0 1px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    max-height: 52px;
    margin-bottom: 20px;
    display: block;
    border-bottom: 1px solid #9d9d9d;
}
#diamond-shield-nav {
  margin: 5px;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-bottom: 5px solid #337ab7;
	position: relative;
	top: -15px;
}
#diamond-shield-nav:after {
	content: '';
	position: absolute;
	left: -15px; top: 5px;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-top: 25px solid #337ab7;
}

.nav-links-container {
  padding-left: 10px;
  display: flex;
  flex-direction: row;
}

.navigation{
  margin-top: 10px;
  padding-left: 0;
}

.navigation > li {
  display: inline;
  margin: 10px;
}

.navigation > li > a:hover {
    color: #fff;
    background-color: transparent;
}

.navigation > li > a {
  color: #9d9d9d;
  text-decoration: none;
}


/********************************************
            HOME PAGE
*********************************************/

.row, .row2 {
  display: flex;
  flex-direction: row;
}

.row > p {
  padding: 0 15px;
}

#home-bottom-btn {
  text-align: center;
}

.features-images {
  width: 70%;
  margin: auto;
}


.row2 > p {
  width: 37%;
}

.row2 > ul {
  width: 25%;
  margin: 0 1%;
  color: #337ab7;
  font-style: italic;
}


/********************************************
            ADD WORKOUT FORM PAGE
*********************************************/

input {
  width: 100%;
  color: black;
}

/********************************************
            WORKOUT INDEX PAGE
*********************************************/

.workouts {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.workouts > a {
  text-decoration: none;
  color: black;
}

.workouts > a:hover {
  color: white;
}

.thumbnail-container {
  width: 96%;
  margin: 5px 0;
  background: white;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
}

.thumbnail-container:hover {
  background: #5a5a5a;
}


.thumbnail-container > h3 {
  margin: 10px;
}

.thumbnail-container > p {
  margin: 15px;
}

/*creates div that is shaped like diamond*/
/*from css tricksv- shapes of CSS*/
#diamond-shield {
  margin: 9px;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-bottom: 5px solid #337ab7;
	position: relative;
	top: -15px;
}
#diamond-shield:after {
	content: '';
	position: absolute;
	left: -15px; top: 5px;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-top: 25px solid #337ab7;
}


/********************************************
            WORKOUT SHOW PAGE
*********************************************/

#workout-name {
  color: white;
}

.workout-show-text {
  text-align: center;
}

.notes-container {
  margin: auto;
  width: 70%;
}

.notes-container-userShow {
  margin: auto;
  width: 40%;
}


.workout-show-table {
  margin: auto;
}

.exercise {
  padding-bottom: 5px;
  padding-top: 5px;
  font-weight: bold;
  color: white;
}

h5 {
  text-align: center;
  color: #337ab7;
}

.table-row > td {
  width: 75px;
  border: 1px solid  #5a5a5a;
}

.delete-container {
  width: 20%;
  margin: 70px auto;
}


.comments-container {
  width: 70%;
  margin: 30px auto;
}

.comment {
  padding: 10px;
  border: 1px solid black;
  background: black;
  /*background: white;*/
  /*color: white;*/
  margin: 5px;
  border-radius: 4px;
}

.comment-button {
  width: 50%;
}

.comment-form {
  width: 50%;
  align-items: center;
  margin: auto;
}


.columns-container {
  margin: auto;
  /*background: white;*/
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 850px;
  justify-content: center;

}

.user-info {
  background: #337ab7;
  width: 39%;
  margin: 20px;
  border-radius: 4px;
  overflow: scroll;
  overflow-x: hidden;

}

::-webkit-scrollbar {
    /*display: none;*/
}

.user-show-text {
  margin: 10px;
}

#gymrat-info {
  text-align: center;
  color: white;
}

i {
  color: white;
}

.community-comments-container {
  width: 100%;
  margin: 30px auto;
}

.community-show-text {
  color: white;
}

.table-margin {
  margin: 1px;
}
