<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Workout Tracker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <style type="text/css">
      body {
        padding-top: 3rem;
        padding-bottom: 3rem;
        color: #5a5a5a;

        /*add this to static css file*/
        /*make it so that nav height stays the same!!!*/
        /*carousel?*/
      }
    </style>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <ul class="nav navbar-nav">
      <li><a class="navbar-brand" href="/workout_tracker/home">
        MANKILLA
        <%# <img alt="Brand" src="...">%>
      </a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#features">Features</a></li>
      <li><a href="/workout_tracker/workouts">My Account</a></li>
      <li><a href="/user/login">Log In</a></li>
    </ul>
  </nav>


<br>
<br>
<br>
<br>
<div class="container container-fluid">
  <div class="jumbotron">
    <h1>Welcome, killer!</h1>
    <p>...</p>
    <p><a class="btn btn-primary btn-lg" href="/user/login" role="button">Sign Up</a></p>
  </div>


  <div id="about" class="page-header">
    <h1>About <small>Who we are</small></h1>
  </div>

  <div id="features" class="page-header">
    <h1>Features <small>What we do</small></h1>
  </div>




</div>

  </body>
</html>
