<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>

  <% include ../partials/header %>



<div class="container container-fluid">
  <div class="jumbotron">
    <h1>Welcome, killer!</h1>
    <p>...</p>
    <p><a class="btn btn-primary btn-lg" href="/user/login" role="button">Sign Up</a></p>
  </div>


  <div id="about" class="page-header">
    <h1>About <small>Who we are</small></h1>
  </div>

  <div id="features" class="page-header">
    <h1>Features <small>What we do</small></h1>
  </div>





</div>

  </body>
</html>
