<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>

  <% include ../partials/header %>



<div class="container container-fluid">
  <div class="jumbotron jumbo">
    <h1>Welcome, GymRat!</h1>
    <p class="lead">The GymRat app invites you into a community of fitness enthusiasts who share their fitness journey with each other. GymRat is designed to allow a user to keep track of their progress by logging their workouts.</p>
    <p><a class="btn btn-primary btn-lg" href="/user/login" role="button">Join the Community</a></p>
  </div>


  <div id="about" class="page-header">
    <h1>About <small>- The team behind the app</small></h1>
      <div class="row">
        <p>GymRats was created by a fitness enthusiasts for fitness enthusiasts. Josefina Mancilla, CEO and lead developer of GymRat, was inspired to create the app from her own experience as a bodybuilder. She realized that often times she found herself searching online for the perfect workout logbook, and then decided to create an application that perfectly suited any bodybuilder's needs and desires for tracking workouts.</p>

        <p>Many of Josefina's own friends who have a love for fitness also helped develop the idea of the app. Because this is place where all fitness levels and types are welcomed, she wanted to receive feedback on her ideas from people besides herself. The features you see on this app now are all brought to you after many hours of deliberation, planning, re-assessing and perfecting everything to be as efficient and intuitive for your workouts!</p>

        <p>Our values at GymRat are to provide excellent and intuitive features for all our GymRats using the app. We want to make this be as useful for you as possible, and also make this a community that you are excited to be a part of! Currently, the team managing GymRat is small, but we are looking for more developers with a passion for our values to join the team!</p>
      </div>

  </div>

  <div class="row features-images">
  <div>
    <div class="thumbnail">
      <img src="https://i.imgur.com/tedgK53.jpg" alt="...">
      <div class="caption">
        <h3>Maximize your gains.</h3>
      </div>
    </div>
    <div class="thumbnail">
      <img src="https://i.imgur.com/i5fGx0U.jpg" alt="...">
      <div class="caption">
        <h3>Become part of an encouraging community.</h3>
      </div>
    </div>
    <div class="thumbnail">
      <img src="https://i.imgur.com/0iowro5.jpg" alt="...">
      <div class="caption">
        <h3>Take your journey to the next level.</h3>
      </div>
    </div>
  </div>
  </div>

  <div id="features" class="page-header">
    <h1>Features <small>- What we offer you | How this works</small></h1>
    <div class="row2">
    <p>GymRat is both a social network for bodybuilders and a workout tracker application. A user can view and add their workouts on their "My Account" page. You can view the details for a certain workout by clicking on the workout link. This wil take you to a new page where you can view all the stats from that workout, update the workout or delete it. Anytime you add a workout, the workout is also added to the GymRats community page.</p>


    <ul>
      <li>Log custom workouts</li>
      <li>Track previous workouts</li>
      <li>See PR progress</li>
      <li>Share with community</li>
      <li>Comment on others GymRats' workouts</li>
    </ul>


    <p>The GymRats community page is a forum where you can view and comment on other GymRats' workouts. The link for the page is in your workout board on "My Account". Just like your own workout page, to view another users' workout details, simply click on the workout link. This time, the page displayed will look different than your own because you cannot edit or delete workouts from the GymRat community page. You can add comments for a specific workout on the GymRat workout details page. These comments will also be displayed on your own workout details page in "My Account".</p>
    </div>

    <br>
    <div class="workout-show-text">
      <h3>See example pages below</h3>
    </div>
    <br>

    <div class="row features-images">
      <div>
        <div class="thumbnail">
          <img src="https://i.imgur.com/3z9nLaq.png" alt="...">
          <div class="caption">
            <h3>My Account page and workout board.</h3>
          </div>
        </div>
        <div class="thumbnail">
          <img src="https://i.imgur.com/kl4ynMi.png" alt="...">
          <div class="caption">
            <h3>Your workout form.</h3>
          </div>
        </div>
        <div class="thumbnail">
          <img src="https://i.imgur.com/KKNUWLX.png" alt="...">
          <div class="caption">
            <h3>"My Account" workout details page.</h3>
          </div>
        </div>
        <div class="thumbnail">
        <img src="https://i.imgur.com/T9kfpMl.png" alt="...">
        <div class="caption">
          <h3>GymRats community workout page.</h3>
        </div>
      </div>
        <div class="thumbnail">
        <img src="https://i.imgur.com/cCYcrMb.png" alt="...">
        <div class="caption">
          <h3>GymRats workout details page.</h3>
        </div>
      </div>
      </div>
    </div>

  <p id="home-bottom-btn"><a class="btn btn-primary btn-lg" href="/user/login" role="button">Create an Account Today!</a></p>

</div>

  </body>
</html>
