<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Workout Tracker</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>About</li>
        <li>Features</li>
        <a href="/workout_tracker/workouts"><li>My Account</li></a>
        <a href="/user/login"><li>Log In</li></a>
      </ul>
    </nav>

    Other Stuff Here
  </body>
</html>
